<%-include('common/head')%>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <%-include('common/sidebar')%>
                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Topbar -->
                        <%-include('common/topbar')%>
                            <!-- End of Topbar -->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">

                                <!-- Page Heading -->
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Item List</h1>

                                </div>

                                <!-- Content Row -->
                                <div class="container-fluid">

                                    <!-- Page Heading -->


                                    <!-- DataTales Example -->
                                    <%if(message.length>0){%>
                                        <div class="alert alert-success" role="alert">
                                            <%=message%>
                                        </div>
                                        <%}%>
                                            <%if(error.length>0){%>
                                                <div class="alert alert-danger" role="alert">
                                                    <%=error%>
                                                </div>
                                                <%}%>

                                                    <div class="card shadow mb-4">
                                                        <div class="card-header py-3">
                                                            <h6 class="btn btn-primary" type="button"
                                                                data-toggle="modal" data-target="#exampleModal"
                                                                data-whatever="@mdo">Add Item
                                                            </h6>
                                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                                role="dialog" aria-labelledby="exampleModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="exampleModalLabel">Add Item</h5>
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form action="/admin/itemCreate"
                                                                                method="post"
                                                                                enctype="multipart/form-data">
                                                                                <div class="form-group">
                                                                                    <label
                                                                                        class="col-form-label">ItemName:</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        name="itemName"
                                                                                        placeholder="Item Name">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label
                                                                                        class="col-form-label">ItemDetails:</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        name="itemDetails"
                                                                                        placeholder="Item Details">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label
                                                                                        class="col-form-label">Price:</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        name="price"
                                                                                        placeholder="Item Price">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label
                                                                                        class="col-form-label">Image:</label>
                                                                                    <input type="file"
                                                                                        class="form-control"
                                                                                        name="image">

                                                                                </div>
                                                                                <div class="modal-footer form-group">
                                                                                    <label
                                                                                        class="col-form-label"></label>
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">Close</button>
                                                                                    <input type="submit"
                                                                                        class="btn btn-primary"
                                                                                        value="submit">
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered" id="dataTable"
                                                                    width="100%" cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Sl No</th>
                                                                            <th>ItemName</th>
                                                                            <th>ItemDetails</th>
                                                                            <th>Price</th>
                                                                            <th>Image</th>
                                                                            <th>Status</th>
                                                                            <th colspan="2">Operation</th>

                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <%let count=1%>
                                                                            <%if(displayData.length>0){
                                                                                for(let data2 of displayData){%>
                                                                                <tr>
                                                                                    <td>
                                                                                        <%=count++%>
                                                                                    </td>

                                                                                    <td>
                                                                                        <%=data2.itemName%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=data2.itemDetails%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=data2.price%>
                                                                                    </td>
                                                                                    <td><img src="../upload/<%=data2.image%>"
                                                                                            alt="" height="50px"
                                                                                            width="50px"></td>
                                                                                    <td>
                                                                                        <%=data2.status%>
                                                                                    </td>

                                                                                    <% if(data2.status) {%>
                                                                                        <td>
                                                                                            <a href=" /admin/deactiveitem/<%=data2._id %>"
                                                                                                class="btn btn-danger">Deactive</a>
                                                                                        </td>
                                                                                        <% } else{%>
                                                                                            <td>
                                                                                                <a href="/admin/activeitem/<%= data2._id %>"
                                                                                                    class="btn btn-success">Active</a>
                                                                                            </td>
                                                                                            <% } %>
                                                                                                <td><a href="/admin/edit/<%= data2._id %>">
                                                                                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                                                                                    </a>
                                                                                                </td>
                                                                                </tr>
                                                                                <%}}%>
                                                                    </tbody>

                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>

                                </div>

                                <!-- Content Row -->



                                <!-- Content Row -->


                            </div>
                            <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <%-include('common/footer')%>
                        <!-- End of Footer -->


    </body>

    </html>